# Télécom Paris - Kit Big Data - Session 1

## Titre 2

**gras**

*italique*

$\lambda$

## Jupyter

- Notebook
    - code
    - markdown
    - latex
    - magic commands

In [1]:
print("hello")

hello

In [2]:
!ls -al

total 240
drwxrwxrwx   1 user     group           0 Sep  7 14:29 .
drwxrwxrwx   1 user     group           0 Sep  5 09:14 ..
drwxrwxrwx   1 user     group           0 Aug 25 14:54 .ipynb_checkpoints
-rw-rw-rw-   1 user     group      148574 Aug 23 15:36 alice_in_wonderland.txt
-rw-rw-rw-   1 user     group        8163 Sep  5 17:36 correction_projet1.ipynb
-rw-rw-rw-   1 user     group          54 Sep  5 14:53 data.txt
-rw-rw-rw-   1 user     group          41 Sep  5 14:53 example.json
-rw-rw-rw-   1 user     group       34930 Aug 29 18:09 notes2021.png
-rw-rw-rw-   1 user     group        2769 Aug 29 12:02 projet1.ipynb
-rw-rw-rw-   1 user     group       38310 Sep  7 14:29 session1.ipynb
-rw-rw-rw-   1 user     group        8192 Sep  5 14:53 test.db

In [3]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

## Python

- syntaxe, commentaires, variables
- types de base : NoneType, bool, int, float
- structures de données : list, tuple, range, str, dict, set
- fonctions et lambda
- Entrées/sorties
- Programmation par objets

## Python Standard Library

- this
- math
- pypi
- environnements virtuels

### NoneType

In [4]:
# NoneType
a = None  # the value None is assigned to the variable a
print(a)  # displays the variable

None

In [5]:
# type of an object
type(a)

NoneType

### bool

In [6]:
# logical operations with booleans
p = True
q = False
print(p and q, p or q, not p, not q)

False True False True

In [7]:
# type of an object
type(p)

bool

In [ ]:
# int/bool
# object/bool
# lazzy evaluation

### int float

In [8]:
# priority between operators
print(1 + 2 - 3 * 4 / 6)

1.0

In [9]:
# integers only
print(1 + 2 - 3 * 4 // 6)

1

In [10]:
# division with remainder
a, b = 20, 7
q = a // b  # quotient
r = a % b  # remainder
print(q, r)
print(b * q + r)

2 6
20

In [11]:
5.6 // 3.2

1.0

In [12]:
5.6 % 3.2

2.3999999999999995

In [13]:
0.1 + 0.1

0.2

In [14]:
0.1 + 0.1 + 0.1

0.30000000000000004

In [ ]:
# decimal
# limited precision

In [15]:
# multiple assignment and comparison
a, b = 1, 2
print(a < b)

True

In [16]:
# multiple assignment and comparison
a, b = 1, 1
(a < b) or (a > b)

False

### list

In [17]:
# creation of liste list
mylist = [1, 2, 3]
print(mylist)

[1, 2, 3]

In [18]:
# type of an object
type(mylist)

list

In [19]:
# appending a single element
mylist.append(1)
mylist

[1, 2, 3, 1]

In [20]:
# appending several elements
mylist.extend([2, 3, 1])
mylist

[1, 2, 3, 1, 2, 3, 1]

In [21]:
# length
len(mylist)

7

In [22]:
# min
min(mylist)

1

In [23]:
# max
max(mylist)

3

In [24]:
# sum
sum(mylist)

13

In [25]:
# testing whether 4 is in mylist
4 in mylist

False

In [26]:
# testing whether 5 is not in mylist
5 not in mylist

True

In [27]:
# to identical lists are equal
liste1 = [1, 2, 3]
liste2 = [1, 2, 3]
liste1 == liste2

True

In [28]:
# to identical lists may not have object identity
liste1 is liste2

False

In [29]:
# here, to identical lists have object identity
liste2 = [1, 2, 3]
liste3 = liste2
liste2 is liste3

True

In [30]:
liste2 = [1, 2, 3]
liste4 = liste2.copy()
liste2 == liste4

True

In [31]:
liste2 is liste4

False

In [33]:
# using the [] operator
mylist = [1, 2, 3, 1, 2, 3, 1]
print(mylist)
print(mylist[2])
print(mylist[1:3])
print(mylist[1:4:2])
print(mylist[1:])
print(mylist[:3])

[1, 2, 3, 1, 2, 3, 1]
3
[2, 3]
[2, 1]
[2, 3, 1, 2, 3, 1]
[1, 2, 3]

In [34]:
# concatenating 'mylist' with itself
mylist + mylist

[1, 2, 3, 1, 2, 3, 1, 1, 2, 3, 1, 2, 3, 1]

In [35]:
# concatenating 'mylist' with itself 3 times
mylist * 3  # or 3 * mylist

[1, 2, 3, 1, 2, 3, 1, 1, 2, 3, 1, 2, 3, 1, 1, 2, 3, 1, 2, 3, 1]

In [36]:
# sorting 'mylist'
liste_triee = sorted(mylist)  # returns a new object
liste_triee

[1, 1, 1, 2, 2, 3, 3]

In [37]:
# mylist is still not sorted
mylist

[1, 2, 3, 1, 2, 3, 1]

In [38]:
# sorting 'mylist' in place
mylist.sort()

In [39]:
mylist

[1, 1, 1, 2, 2, 3, 3]

### tuple

In [40]:
# creation of a tuple
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

In [41]:
# creation of a tuple
mytuple = 1, 2, 3
mytuple

(1, 2, 3)

In [42]:
# list from a string (see below)
tuple('Python')

('P', 'y', 't', 'h', 'o', 'n')

In [ ]:
# one element tuple

In [43]:
1,

(1,)

In [44]:
(1)

1

In [46]:
print(mytuple)

(1, 2, 3)

In [45]:
print(*mytuple)

1 2 3

### range

In [47]:
r1 = range(10)  # integers from 0 to 9
r2 = range(1, 11)  # integers from 1 to 10
r3 = range(0, 100, 2)  # even integers from 0 to 100 excluded
print(list(r1))
print(list(r2))
print(list(r3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
# arithmetic of range

In [48]:
r4 = range(0, 50, 2)
print(list(r4))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [49]:
r4[10:20:3]

range(20, 40, 6)

### str

In [50]:
# some strings
s1 = 'this is a string'
s2 = "it's a string"  # \ not needed for the quote
s3 = 'it\'s a string again'  # \ needed for the quote
s4 = 'C:\\Users\\Guest\\'  # \ needed for the backslashes
s5 = '''Monday,
Tuesday,
Wednesday,
...'''
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

this is a string
it's a string
it's a string again
C:\Users\Guest\
Monday,
Tuesday,
Wednesday,
...

In [51]:
# raw
r'C:\Users\Guest'

'C:\\Users\\Guest'

In [52]:
# f-string with variables
name = 'Mary'
age = 25
f'{name} is {age} years old'

'Mary is 25 years old'

In [53]:
# f-string with statements
f'1 + 2 = {1 + 2}'

'1 + 2 = 3'

In [55]:
# debug
f'{name=} is {age=} years old'

"name='Mary' is age=25 years old"

In [56]:
f"{3.1415:.2f}"

'3.14'

In [57]:
# format with named arguments
'{name} is {age} years old'.format(name='Mary', age=25)

'Mary is 25 years old'

In [58]:
# format with positional arguments
'{1} is {0} years old'.format(25, 'Mary')

'Mary is 25 years old'

In [59]:
# format with implicit positional arguments
'{} is {} years old'.format('Mary', 25)

'Mary is 25 years old'

In [60]:
# implicit positional arguments
'%s is %d years old' % ('Mary', 25)

'Mary is 25 years old'

In [61]:
# concaténation
name + ' is ' + str(age) + ' years old'

'Mary is 25 years old'

In [62]:
# slicing string
s = 'Python'
s[1:-1]

'ytho'

In [63]:
a, b = 1, -1
s[a: b]

'ytho'

In [64]:
# reversing string
s[::-1]

'nohtyP'

In [65]:
# concatenation
'1' + '2'

'12'

In [66]:
# lower case
s.lower()

'python'

In [67]:
# upper case
s.upper()

'PYTHON'

In [68]:
# capitalize
s.capitalize()

'Python'

In [69]:
# testing start
s.startswith('P')

True

In [70]:
# testing end
s.endswith('P')

False

In [71]:
# testing substring
s.find('th')

2

In [72]:
# title
s = 'I like the python language!'
s.title()

'I Like The Python Language!'

In [73]:
# list from a string
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [74]:
# spliting string
s = '123,456,789'
s.split(',')

['123', '456', '789']

In [75]:
# joining strings
abc = ['A', 'B', 'C']
'-'.join(abc)

'A-B-C'

In [76]:
# character to ascii
ord('A')

65

In [77]:
# ascii to character
chr(64)

'@'

In [78]:
# str of any object
str(1 * 2 / 3)

'0.6666666666666666'

### dict

In [80]:
# example
dico = {'a':1, 'b':2, 'c':3}
dico['a']

1

In [81]:
# get function
dico.get('a', 100)

1

In [82]:
# deleting a key
del dico['a']
dico

{'b': 2, 'c': 3}

In [83]:
# get function
dico.get('a', 100)

100

In [84]:
# dict from a mapping sequence
dico = dict([['a', 1], ['b', 2], ['c', 3]])
print(dico)

{'a': 1, 'b': 2, 'c': 3}

### zip

In [85]:
zip(['a', 'b', 'c'], [1, 2, 3])

In [86]:
list(zip(['a', 'b', 'c'], [1, 2, 3]))

[('a', 1), ('b', 2), ('c', 3)]

In [87]:
# dict from a zip
d = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
print(d)

{'a': 1, 'b': 2, 'c': 3}

### set

In [88]:
# example
s = set()
s.add(1)
s.add(2)
s.add(2)
s.add(3)
s.add(3)
s.add(3)
s

{1, 2, 3}

In [89]:
# set form l list
mylist = [1, 2, 3, 1, 2, 3, 1]
print(mylist)
print(set(mylist))

[1, 2, 3, 1, 2, 3, 1]
{1, 2, 3}

In [92]:
type({})

dict

In [94]:
type(set())

set

### if elif else

In [95]:
age = 19
if age in range(10, 20):
    print("teenager")

teenager

In [96]:
if age < 18:
    print("minor")
else:
    print("adult")

adult

In [97]:
if age < 10:
    print("child")
elif age < 20:
    print("teenager")
else:
    print("adult")

teenager

In [98]:
# idem with nested statements
if age < 20:
    if age < 10:
        print("child")
    else:
        print("teenager")
else:
    print("adult")

teenager

In [99]:
# one line if/else statement
status = 'minor' if age < 18 else 'adult'
print(status)

adult

### loop for in

In [100]:
# simple loop
for i in range(10):
    print(i * i)

0
1
4
9
16
25
36
49
64
81

In [ ]:
# continue, break, pass

In [101]:
# example
for i in range(10):  # test with 5 instead of 10
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [102]:
# example
for i in range(10):
    if i == 5:
        continue
    if i > 7:
        break
    print(i)

0
1
2
3
4
6
7

In [103]:
# enumerate function
letters = 'abcdefghij'
print(letters)
for i, letter in enumerate(letters):
    print(i, letter)

abcdefghij
0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j

In [104]:
# looping on dict items
d = dict(zip('abcde', [1, 2, 3, 4, 5]))
print(d)
for key, value in d.items():
    print(key, value)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
a 1
b 2
c 3
d 4
e 5

### list/dict comprehension

In [105]:
# list comprehension with the squares of elements of mylist
mylist = [1, 2, 3, 1, 2, 3, 1]
[i * i for i in mylist]

[1, 4, 9, 1, 4, 9, 1]

In [106]:
# list comprehension and filter
[i ** 3 for i in mylist if i % 2 == 1]

[1, 27, 1, 27, 1]

In [107]:
# nested list comprehension
[i * j for i in [0, 1, 2] for j in [1, 2, 3]]

[0, 0, 0, 1, 2, 3, 2, 4, 6]

In [ ]:
# équivalent
# for i in [0, 1, 2]:
#     for j in [1, 2, 3]:

In [108]:
## nested list comprehension and filter
[i**2 if i % 2 == 0 else i**3 for i in range(10) if i != 5]

[0, 1, 4, 27, 16, 36, 343, 64, 729]

In [109]:
# dict comprehension
{str(i):i * i for i in range(10)}

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81}

### generator

In [110]:
mylist = [1, 2, 3, 1, 2, 3, 1]
g = (i * i for i in mylist)
g

In [111]:
next(g)

1

In [112]:
next(g)

4

In [113]:
for i in g:
    print(i)

9
1
4
9
1

In [114]:
next(g)

StopIteration:

In [ ]:
# yield ("~return")

### loop while

In [115]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [116]:
import time

while True:
    print(time.asctime())
    time.sleep(1)

Wed Sep  7 15:28:36 2022
Wed Sep  7 15:28:37 2022
Wed Sep  7 15:28:38 2022
Wed Sep  7 15:28:39 2022
Wed Sep  7 15:28:40 2022
Wed Sep  7 15:28:41 2022
Wed Sep  7 15:28:42 2022
Wed Sep  7 15:28:43 2022
Wed Sep  7 15:28:44 2022
Wed Sep  7 15:28:45 2022
Wed Sep  7 15:28:46 2022
Wed Sep  7 15:28:47 2022

KeyboardInterrupt:

### function

In [117]:
# function call
print('Hello World!')

Hello World!

In [ ]:
# print toto => Python 2
# print(toto) => Python 2 ou 3

In [118]:
# user-defined function
def square(x):
    return x * x

In [119]:
# function call
square(16)

256

In [120]:
# function call
square(-16)

256

In [121]:
# function call in a list comprehension
[square(i) for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [122]:
# function with default values
def area(length=20, width=10):
    return length * width

In [123]:
# all arguments are given
area(30, 5)

150

In [124]:
# only first argument is given
area(30)

300

In [125]:
# only second argument is given
area(width=20)

400

In [126]:
# no argument is given
area()

200

In [ ]:
# *args, **kwargs

### lambda

In [127]:
# creation of a list of tuples
a = list(zip(range(10), list("Python 3.9"), range(20, 10, -1)))
a

[(0, 'P', 20),
 (1, 'y', 19),
 (2, 't', 18),
 (3, 'h', 17),
 (4, 'o', 16),
 (5, 'n', 15),
 (6, ' ', 14),
 (7, '3', 13),
 (8, '.', 12),
 (9, '9', 11)]

In [129]:
a.sort?

In [130]:
# sorting a using the second element of tuples
a.sort(key=lambda x: x[1])
a

[(6, ' ', 14),
 (8, '.', 12),
 (7, '3', 13),
 (9, '9', 11),
 (0, 'P', 20),
 (3, 'h', 17),
 (5, 'n', 15),
 (4, 'o', 16),
 (2, 't', 18),
 (1, 'y', 19)]

In [131]:
# sorting a using the third element of tuples
a.sort(key=lambda x: x[2])
a

[(9, '9', 11),
 (8, '.', 12),
 (7, '3', 13),
 (6, ' ', 14),
 (5, 'n', 15),
 (4, 'o', 16),
 (3, 'h', 17),
 (2, 't', 18),
 (1, 'y', 19),
 (0, 'P', 20)]

In [132]:
somme = lambda x, y: x+y
somme(1,2)

3

In [133]:
somme("a","b")

'ab'

### map & filter

In [134]:
# map example
list(map(lambda x: x * x, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [135]:
# filter example
list(filter(lambda x: x % 2 == 1, range(10)))

[1, 3, 5, 7, 9]

In [136]:
# lambda
f = lambda x: x % 2 == 1
f(5)

True

In [ ]:
# fonction dans fonction
# décorateurs de fonctions

In [137]:
def trace(func):
    
    def decorateur(*args):
        print(f"Appel de {func.__name__} avec : {args}")
        resultat = func(*args)
        return resultat
    
    return decorateur

@trace
def square(x):
    return x*x

square(2)

Appel de square avec : (2,)

4

### classes

In [140]:
# small example : the Point class

class Point :
    
    def __init__(self, a=0.0, b=0.0):
        self.x = a
        self.y = b
        
    def __str__(self):
        return f"({self.x}, {self.y})"
    
    def is_diagonal(self):
        return self.x == self.y
    
    def transpose(self):
        return Point(self.y, self.x)
    
    def middle_with(self, autrePoint):
        return Point((self.x + autrePoint.x) / 2, (self.y + autrePoint.y) / 2)
    
    def __eq__(self, p):
        return (self.x == p.x) and (self.y == p.y)

In [141]:
# instance creation
p1 = Point()
print(p1)

(0.0, 0.0)

In [142]:
# accessing attribute
p1.x

0.0

In [143]:
# diagonal?
p1.is_diagonal()

True

In [144]:
# other instance
p2 = Point(10, 6)
p2.is_diagonal()

False

In [145]:
# transposing
p3 = p2.transpose()
print(p3)

(6, 10)

In [146]:
# middle
p4 = p2.middle_with(p3)
print(p4)

(8.0, 8.0)

In [147]:
# diagonal?
p4.is_diagonal()

True

In [148]:
class Polygon:
    def __init__(self):
        self.points = []
    def __str__(self):
        return ("Poly{%s}" % ', '.join([str(p) for p in self.points]))
    def add_point(self, point):
        if point not in self.points: # ensure that all points are different
            self.points.append(point)
    def add_points(self, points):
        for point in points:
            self.add_point(point)
    def add_polygon(self, polygon):
        self.add_points(polygon.points)
    def name(self):
        names = {0:"empty", 1:"point", 2:"segment", 3:"triangle", 4:"quadrilateral", 5:"pentagon"}
        nb = len(self.points)
        return names.get(nb, "polygon")

In [149]:
# instance creation
p = Polygon()
print(p, p.name())

Poly{} empty

In [150]:
# adding points
p.add_point(p1)
p.add_point(p2)
print(p, p.name())

Poly{(0.0, 0.0), (10, 6)} segment

In [151]:
# other instance
q = Polygon()
q.add_points([p2, p3, p4])
print(q, q.name())

Poly{(10, 6), (6, 10), (8.0, 8.0)} triangle

In [152]:
# adding polygons
p.add_polygon(q)
print(p, p.name())

Poly{(0.0, 0.0), (10, 6), (6, 10), (8.0, 8.0)} quadrilateral

### Entrées/sorties

In [153]:
# sep
print(1, 2, 3, sep=';')

1;2;3

In [154]:
# end
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [155]:
# *args **kwargs
numbers = [1, 2, 3]
dico = {"sep": "|", "end":"$"}

print(numbers, dico)
print(*numbers, **dico)

[1, 2, 3] {'sep': '|', 'end': '$'}
1|2|3$

In [156]:
# input number
age = int(input('What is your age? '))
age

What is your age? 12

12

In [157]:
eval("1+2*3")

7

In [158]:
# create and write a file
with open('data.txt', 'w') as f:
    f.write('This is a simple file.\n')
    
# open and read a file
with open('data.txt') as f:
    content = f.read()
    
print(content)

This is a simple file.

In [159]:
# writing a file
with open('data.txt', 'a') as f:
    for i in range(10):
        f.write(f'{i}\n')

# reading it line by line
with open('data.txt') as f:
    for line in f:
        print(line.rstrip('\n'))

This is a simple file.
0
1
2
3
4
5
6
7
8
9

In [160]:
# creatin and object
data = {'language': 'Python', 'version': [3, 9]}
data

{'language': 'Python', 'version': [3, 9]}

In [161]:
# save it to json
import json
with open('example.json', 'w') as f:
    json.dump(data, f)
    
# load it from json
with open('example.json') as f:
    data2 = json.load(f)

print(data2 == data)

True

In [162]:
# example with SQLite and a dedicated module
import sqlite3
import os

# remove 'test.db' file if exists
if os.path.exists('test.db'):
    os.remove('test.db')
    
# create and fill a small database
with sqlite3.connect("test.db") as db:
    cursor = db.cursor()
    cursor.execute('''CREATE TABLE clients
                    (id integer, lastname text, firstname text)''')
    cursor.execute('''INSERT INTO clients VALUES (1, 'Smith', 'John')''')
    cursor.execute('''INSERT INTO clients VALUES (2, 'Doe', 'John')''')
    cursor.execute('''INSERT INTO clients VALUES (3, 'Smith', 'Ann')''')
    db.commit()
    print("database created")

database created

In [163]:
# open and request the database
with sqlite3.connect("test.db") as db:
    cursor = db.cursor()
    cursor.execute('''SELECT * FROM clients WHERE lastname=?''', ('Smith',))
    row = cursor.fetchone()
    while row:
        print(row)
        row = cursor.fetchone()

(1, 'Smith', 'John')
(3, 'Smith', 'Ann')

### Python Standard Library

In [164]:
# example: this module = Python philosophy
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [165]:
# example
import math
math.pi

3.141592653589793

In [ ]:
math.

In [166]:
# example
import math as m
print(m.factorial(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [167]:
# example
from math import factorial as fact
print(fact(200))

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

In [171]:
fact(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [172]:
# example
from math import sin, cos

In [173]:
# a éviter
from math import *
log(exp(pi))

3.141592653589793

In [174]:
# itertools
import itertools
list(itertools.product([1, 2], ["a", "b", "c"], [10.0, 20.0, 30.0, 40.0]))

[(1, 'a', 10.0),
 (1, 'a', 20.0),
 (1, 'a', 30.0),
 (1, 'a', 40.0),
 (1, 'b', 10.0),
 (1, 'b', 20.0),
 (1, 'b', 30.0),
 (1, 'b', 40.0),
 (1, 'c', 10.0),
 (1, 'c', 20.0),
 (1, 'c', 30.0),
 (1, 'c', 40.0),
 (2, 'a', 10.0),
 (2, 'a', 20.0),
 (2, 'a', 30.0),
 (2, 'a', 40.0),
 (2, 'b', 10.0),
 (2, 'b', 20.0),
 (2, 'b', 30.0),
 (2, 'b', 40.0),
 (2, 'c', 10.0),
 (2, 'c', 20.0),
 (2, 'c', 30.0),
 (2, 'c', 40.0)]

In [176]:
from functools import partial

basetwo = partial(int, base=2)

basetwo.__doc__ = 'Convert base 2 string to an int.'

basetwo('10010')

18

In [ ]:
# sys
# os
# collections
# re
# datetime
# pickle
# functools
# ...

In [177]:
import os
os.walk?

In [179]:
import glob
glob.glob("*.txt")

['alice_in_wonderland.txt', 'data.txt']

In [180]:
import re
rx = re.compile("(\d+)")

rx.findall("123, eokhfp 456")

['123', '456']

In [182]:
import pickle

liste = [1, 2, 3]

with open("liste.pkl", "wb") as f:
    pickle.dump(liste, f)

In [184]:
with open("liste.pkl", "rb") as f:
    liste2 = pickle.load(f)
    
liste2

[1, 2, 3]

##### jupyter magic commands

In [ ]:
%lsmagic

In [185]:
%who

Point	 Polygon	 a	 abc	 acos	 acosh	 age	 area	 asin
asinh	 atan	 atan2	 atanh	 b	 basetwo	 ceil	 comb	 content
copysign	 cos	 cosh	 cursor	 d	 data	 data2	 db	 degrees
dico	 dist	 e	 erf	 erfc	 exp	 expm1	 f	 fabs
fact	 factorial	 floor	 fmod	 frexp	 fsum	 g	 gamma	 gcd
glob	 hypot	 i	 inf	 isclose	 isfinite	 isinf	 isnan	 isqrt
itertools	 json	 key	 ldexp	 letter	 letters	 lgamma	 line	 liste
liste1	 liste2	 liste3	 liste4	 liste_triee	 log	 log10	 log1p	 log2
m	 math	 modf	 mylist	 mytuple	 name	 nan	 numbers	 os
p	 p1	 p2	 p3	 p4	 partial	 perm	 pi	 pickle
pow	 prod	 q	 r	 r1	 r2	 r3	 r4	 radians
re	 remainder	 row	 rx	 s	 s1	 s2	 s3	 s4
s5	 sin	 sinh	 somme	 sqlite3	 sqrt	 square	 status	 tan
tanh	 tau	 this	 time	 trace	 trunc	 value

In [186]:
%whos

Variable      Type                          Data/Info
-----------------------------------------------------
Point         type                          <class '__main__.Point'>
Polygon       type                          <class '__main__.Polygon'>
a             list                          n=10
abc           list                          n=3
acos          builtin_function_or_method    <built-in function acos>
acosh         builtin_function_or_method    <built-in function acosh>
age           int                           12
area          function                      <function area at 0x0000000004FE0CA0>
asin          builtin_function_or_method    <built-in function asin>
asinh         builtin_function_or_method    <built-in function asinh>
atan          builtin_function_or_method    <built-in function atan>
atan2         builtin_function_or_method    <built-in function atan2>
atanh         builtin_function_or_method    <built-in function atanh>
b             int                           -1
basetwo       partial                       functools.partial(<class 'int'>, base=2)
ceil          builtin_function_or_method    <built-in function ceil>
comb          builtin_function_or_method    <built-in function comb>
content       str                           This is a simple file.\n
copysign      builtin_function_or_method    <built-in function copysign>
cos           builtin_function_or_method    <built-in function cos>
cosh          builtin_function_or_method    <built-in function cosh>
cursor        Cursor                        <sqlite3.Cursor object at 0x000000000700FEA0>
d             dict                          n=5
data          dict                          n=2
data2         dict                          n=2
db            Connection                    <sqlite3.Connection object at 0x0000000006FED300>
degrees       builtin_function_or_method    <built-in function degrees>
dico          dict                          n=2
dist          builtin_function_or_method    <built-in function dist>
e             float                         2.718281828459045
erf           builtin_function_or_method    <built-in function erf>
erfc          builtin_function_or_method    <built-in function erfc>
exp           builtin_function_or_method    <built-in function exp>
expm1         builtin_function_or_method    <built-in function expm1>
f             BufferedReader                <_io.BufferedReader name='liste.pkl'>
fabs          builtin_function_or_method    <built-in function fabs>
fact          builtin_function_or_method    <built-in function factorial>
factorial     builtin_function_or_method    <built-in function factorial>
floor         builtin_function_or_method    <built-in function floor>
fmod          builtin_function_or_method    <built-in function fmod>
frexp         builtin_function_or_method    <built-in function frexp>
fsum          builtin_function_or_method    <built-in function fsum>
g             generator                     <generator object <genexp<...>r> at 0x0000000004EC8C10>
gamma         builtin_function_or_method    <built-in function gamma>
gcd           builtin_function_or_method    <built-in function gcd>
glob          module                        <module 'glob' from 'C:\\<...>\envs\\tp\\lib\\glob.py'>
hypot         builtin_function_or_method    <built-in function hypot>
i             int                           9
inf           float                         inf
isclose       builtin_function_or_method    <built-in function isclose>
isfinite      builtin_function_or_method    <built-in function isfinite>
isinf         builtin_function_or_method    <built-in function isinf>
isnan         builtin_function_or_method    <built-in function isnan>
isqrt         builtin_function_or_method    <built-in function isqrt>
itertools     module                        <module 'itertools' (built-in)>
json          module                        <module 'json' from 'C:\\<...>\lib\\json\\__init__.py'>
key           str                           e
ldexp         builtin_function_or_method    <built-in function ldexp>
letter        str                           j
letters       str                           abcdefghij
lgamma        builtin_function_or_method    <built-in function lgamma>
line          str                           9\n
liste         list                          n=3
liste1        list                          n=3
liste2        list                          n=3
liste3        list                          n=3
liste4        list                          n=3
liste_triee   list                          n=7
log           builtin_function_or_method    <built-in function log>
log10         builtin_function_or_method    <built-in function log10>
log1p         builtin_function_or_method    <built-in function log1p>
log2          builtin_function_or_method    <built-in function log2>
m             module                        <module 'math' (built-in)>
math          module                        <module 'math' (built-in)>
modf          builtin_function_or_method    <built-in function modf>
mylist        list                          n=7
mytuple       tuple                         n=3
name          str                           Mary
nan           float                         nan
numbers       list                          n=3
os            module                        <module 'os' from 'C:\\Us<...>3\\envs\\tp\\lib\\os.py'>
p             Polygon                       Poly{(0.0, 0.0), (10, 6), (6, 10), (8.0, 8.0)}
p1            Point                         (0.0, 0.0)
p2            Point                         (10, 6)
p3            Point                         (6, 10)
p4            Point                         (8.0, 8.0)
partial       type                          <class 'functools.partial'>
perm          builtin_function_or_method    <built-in function perm>
pi            float                         3.141592653589793
pickle        module                        <module 'pickle' from 'C:<...>nvs\\tp\\lib\\pickle.py'>
pow           builtin_function_or_method    <built-in function pow>
prod          builtin_function_or_method    <built-in function prod>
q             Polygon                       Poly{(10, 6), (6, 10), (8.0, 8.0)}
r             int                           6
r1            range                         range(0, 10)
r2            range                         range(1, 11)
r3            range                         range(0, 100, 2)
r4            range                         range(0, 50, 2)
radians       builtin_function_or_method    <built-in function radians>
re            module                        <module 're' from 'C:\\Us<...>3\\envs\\tp\\lib\\re.py'>
remainder     builtin_function_or_method    <built-in function remainder>
row           NoneType                      None
rx            Pattern                       re.compile('(\\d+)')
s             set                           {1, 2, 3}
s1            str                           this is a string
s2            str                           it's a string
s3            str                           it's a string again
s4            str                           C:\Users\Guest\
s5            str                           Monday,\nTuesday,\nWednesday,\n...
sin           builtin_function_or_method    <built-in function sin>
sinh          builtin_function_or_method    <built-in function sinh>
somme         function                      <function <lambda> at 0x0000000006F22F70>
sqlite3       module                        <module 'sqlite3' from 'C<...>b\\sqlite3\\__init__.py'>
sqrt          builtin_function_or_method    <built-in function sqrt>
square        function                      <function trace.<locals>.<...>ur at 0x0000000006F22DC0>
status        str                           adult
tan           builtin_function_or_method    <built-in function tan>
tanh          builtin_function_or_method    <built-in function tanh>
tau           float                         6.283185307179586
this          module                        <module 'this' from 'C:\\<...>\envs\\tp\\lib\\this.py'>
time          module                        <module 'time' (built-in)>
trace         function                      <function trace at 0x0000000006F225E0>
trunc         builtin_function_or_method    <built-in function trunc>
value         int                           5

### Notation

- 5 projets maison donnés en fin de séance pour la veille de la séance suivante et notés sur 1
- 1 projet final donné en fin d'enseignement et noté sur 15

**Notes 2021**

![image](./notes2021.png)